.App {
  text-align: center;
}


a{
  color: black;
  text-decoration: none;
  padding: 25px;
  border-radius: 25%;
}
a:hover{
  transition: 1s;
  background-color: red;
}

.footer a{
  color: white;
  text-decoration: none;
}