.App {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  padding: 25px;
  border-radius: 10px;
  transition: background-color 0.5s, color 0.5s; 
}

a:hover {
  background-color: rgb(0, 91, 201);
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
}
